div(class='activity-col col-xs-12 col-sm-12 col-md-4 col-lg-4')
	div(class='activity-label')
		h2 Tweets
		i(class="fa fa-caret-down", aria-hidden="true")
					
	div(class='activity-container')
		ul(class='tweets')
			-for(var i = 0; i < tweets.length ; i++){
			li
				div(class='tweet-info')
					div(class='img-container', style='background-image:url(#{tweets[i].user.avatar});')
					div(class='un') &#64;#{tweets[i].user.screenName}
						br
						span(class='rn') #{tweets[i].user.realName}
				p
					| #{tweets[i].text}
				div(class='timestamp')
					| #{tweets[i].timestamp}
			-}